body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: #bbb;
}

.footer {
  background: #000;
  padding: 20px 0px;
  position: relative;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.certification img {
  height: 40px;
  margin-right: 15px;
}

.social-icons a {
  color: #bbb;
  margin: 0 10px;
  font-size: 20px;
  transition: color 0.3s;
}
.social-icons img {
  width: 45px;
  height: 45px;
}
.social-icons a:hover {
  color: #1877f2; /* Blue hover */
}

.app-links img {
  height: 40px;
  margin-left: 15px;
}

.footer-bottom {
  border-top: 1px solid #222;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 14px;
}

.footer-links a {
  margin-left: 20px;
  color: #bbb;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-links a:hover {
  color: #fff;
}
