.seats-container {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 12px;
}

.seat-grid {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: 800px;
}

.seat-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.row-label {
  font-weight: bold;
  color: #444;
  width: 20px;
  text-align: center;
}

.row-label.left {
  margin-right: 30px;
}

.row-label.right {
  margin-left: 30px;
}

.seat-row-inner {
  display: flex;
  gap: 6px;
  justify-content: center;
}

.seat {
  width: 35px;
  height: 35px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  cursor: pointer;
  transition: transform 0.2s ease;
  color: #000;
}

.seat:hover {
  transform: scale(1.1);
}
.seat:hover {
  background-color: #facc15 !important;
  color: white;
}
