.tabs-container {
  display: flex;
  position: relative;
  border-bottom: 2px solid #fbeecf;
  padding-bottom: 8px;
  margin: 20px;
}

.tab-item {
  padding: 10px 20px;
  cursor: pointer;
  font-weight: 600; /* Updated */
  font-size: 15px; /* Updated */
  color: #1a1a1a;
  position: relative;
}

.tab-item.active {
  color: #000;
}

.underline {
  position: absolute;
  bottom: 0;
  height: 3px;
  background-color: #ffc107;
  transition: all 0.3s ease;
}
